

<!--- <h1>Calculate the square of a number</h1> --->

<form action="/square/results">

  <label for="sqr">Enter a number</label>
  <input id="sqr" type="text" name="number1"  placeholder="What number do you want to take the square of?">
	
<button>Calculate square</button>

</form>
